{% extends 'base.html' %}
{% block container %}
<div class="starter-template">
	{% with object as album %}
	<form action="" method="post">{% csrf_token %}
		<p>Are you sure you want to delete <b>{{ album.title }}</b>?</p>
		<input type="submit" value="Confirm" />
	</form>
	{% endwith %}
	
	
</div>
{% endblock container %}
