{% extends 'base.html' %}
{% block container %}
<br />

<script>
angular.module('hockey')
	.controller('albumController', ['$scope', function($scope){
	  $scope.score = function(s){
		if(!s) return [0, 0];
	    var match = s.match(/(\d+)/g);
	    if(match.length != 2) return [0, 0];
	    return [parseInt(match[0]), parseInt(match[1])];
	  }
	  
	  $scope.today = function(){
	
	{% if form.date.value %}
	$scope.dt = new Date('{{ form.date.value | date:"F d, Y h:m:s" }}');
	{% else %}
    $scope.dt = new Date();
    {% endif %}
  };
  $scope.today();

  $scope.clear = function () {
    $scope.dt = null;
  };

  // Disable weekend selection
  $scope.disabled = function(date, mode) {
    return false;
    //return ( mode === 'day' && ( date.getDay() === 0 || date.getDay() === 6 ) );
  };

  $scope.toggleMin = function() {
    $scope.minDate = $scope.minDate ? null : new Date();
  };
  $scope.toggleMin();

  $scope.open = function($event){
    $event.preventDefault();
    $event.stopPropagation();

    $scope.opened = true;
  };

  $scope.dateOptions = {
    formatYear: 'yy',
    startingDay: 1
  };

  $scope.formats = ['EEE MMM dd yyyy HH:mm:ss', 'dd-MMMM-yyyy', 'yyyy/MM/dd', 'dd.MM.yyyy', 'shortDate'];
  //'Wed Oct 22 2014 12:10:00 GMT+0200 (CEST)'
  $scope.format = $scope.formats[0];	
  
  {% if form.headline.value %}
  $scope.headline = '{{ form.headline.value }}';
  {% endif %}
  
  $scope.team = {};
    
  {% if form.score.value %}
  $scope.team.score = '{{ form.score.value }}';
  {% endif %}
  
  {% if form.photographer.value %}
  $scope.photographer = '{{ form.photographer.value }}';
  {% endif %}
	}]);
</script>

<div class="row" ng-controller="albumController">
	<div class="col-lg-6">
		<form method="POST" name="albumForm" action="">
	    {% csrf_token %}
		  <fieldset>
			<div class="form-group{% if form.errors.date %} has-error{% endif %}">
			  <label for="date">{% if form.errors.date %}{{ form.errors.date.0 }}{% else %}Date:{% endif %}</label>
			  <p class="input-group">
				  <input
				   type="text"
				   class="form-control"
				   name="date"
				   {% verbatim %}
				   datepicker-popup="{{format}}"
				   ng-model="dt"
				   is-open="opened"
				   min-date="minDate"
				   max-date="'2016-01-01'"
				   datepicker-options="dateOptions"
				   date-disabled="disabled(date, mode)"
				   ng-required="true"
				   close-text="Close"
				   value="{{ form.date.value }}" />
				   {% endverbatim %}
				  <span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				  </span>
              </p>
			</div>
			<div class="form-group{% if form.errors.headline %} has-error{% endif %}">
			  <label for="headline">{% if form.errors.headline %}{{ form.errors.headline.0 }}{% else %}Headline:{% endif %}</label>
			  <input type="text"
			   id="headline"
			   name="headline"
			   class="form-control"
			   required
			   {% if form.headline.value %}
			   placeholder="{{ form.headline.value }}"
			   {% else %}
			   placeholder="eg.: Team 1 - Team 2"
			   {% endif %}
			   ng-model="headline"
			   value="{{ form.headline.value }}">
			</div>
			<div class="form-group{% if form.errors.score %} has-error{% endif %}" ng-class="{'has-error': albumForm.$dirty && !team.score}">
			  <label for="score">{% if form.errors.score %}{{ form.errors.score.0 }}{% else %}Score:{% endif %}</label>
			  <input
			   type="text"
			   id="score"
			   name="score"
			   class="form-control"
			   required
			   {% if form.score.value %}
			   placeholder="{{ form.score.value }}"
			   {% else %}
			   placeholder="eg.: 4:2 (1:1, 1:0, 2:0, 0:1)"
			   {% endif %}
			   ng-model="team.score"
			   value="{{ form.score.value }}">
			</div>
			<div class="form-group{% if form.errors.photographer %} has-error{% endif %}">
			  <label for="photographer">{% if form.errors.photographer %}{{ form.errors.photographer.0 }}{% else %}Photographer:{% endif %}</label>
			  <input
			   id="photographer"
			   type="text"
			   name="photographer"
			   class="form-control"
			   value="{{ form.photographer.value }}">
			</div>
			<div class="form-group{% if form.errors.recipients %} has-error{% endif %}">
			  <label for="recipients">{% if form.errors.recipients %}{{ form.errors.recipients.0 }}{% else %}Recipients:{% endif %}</label>
			  <input
			   id="recipients"
			   type="text"
			   name="recipients"
			   placeholder="eg.: to@recipient1.hu, to@recipient2.hu"
			   class="form-control"
			   value="{{ form.recipients.value }}">
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>
		  </fieldset>
		</form>
	</div>
	<div class="col-lg-6">
		{% verbatim %}
		<h2 ng-if="headline">{{ headline }}</h2>
		<h3 ng-show="team.score">
			{{ team.score }}
		</h3>
		<h4>{{ dt | date:'fullDate' }}</h4>
		{% endverbatim %}
	</div>
</div>
{% endblock container %}
