{% extends 'base.html' %}
{% block container %}
<div class="starter-template">
	{% with object as album %}
	<h1>{{ album.headline }} ({{ album.date | date:"Y. m. d." }})</h1>
	<h3>{{ album.score }}</h3>
	<p>Photos by <b>{{ album.photographer }}</b></p>
	
	{% for img in imgs %}
		<img src="{{ img.get_mod_url }}">
	{% empty %}
	<hr \>
	<h4>No photos added.</h4>
	{% endfor %}
	
	<hr \>
	<a href="/album/{{ album.id }}/upload/"><button type="button" class="btn btn-danger btn-lg btn-block">Upload a picture</button></a>
	
	<br />
	<form method="POST" action="/album/zip/{{ album.id }}/">
		{% csrf_token %}
		<button type="submit" class="btn btn-warning btn-lg btn-block">Get short url of zipped album</button>
	</form>
	{% endwith %}
</div>
{% endblock container %}
