{% extends 'base.html' %}
{% block container %}
<div class="starter-template">
	{% if object_list %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Title</th>
				<th>Created at</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for album in object_list %}
			<tr>
				<td><a href="{{ album.get_absolute_url }}">{{ album.headline }}</a></td>
				<td>{{ album.created_at | date:"Y. m. d." }}</td>
				<td>
					<a href="album/edit/{{ album.id }}"><span class="glyphicon glyphicon-wrench"></span></a>&nbsp;
					<a href="album/delete/{{ album.id }}"><span class="glyphicon glyphicon-trash"></span></a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<h1>You have no albums yet.</h1>
	<a href="/create">Create one</a>
	{% endif %}	</ol>
</div>
{% endblock container %}
