{% extends 'base.html' %}
{% block container %}

<form class="form-signin" role="form" method="POST" action="">
	{% if form.non_field_errors %}
	<div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>
	{% endif %}

	<h2 class="form-signin-heading">Please sign in</h2>
	<input type="email" class="form-control" placeholder="Email address" name="email" required autofocus>
	<input type="password" class="form-control" placeholder="Password" name="password" required>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	{% csrf_token %}
</form>
{% endblock container %}

