{% extends 'base.html' %}
{% block container %}
<div class="starter-template">
	<h1>{{ msg }}</h1>
	<h2><a href="{{ zip_url }}">{{ zip_url }}</a></h2>
	<form method="POST" action="/album/send/{{ album_id }}/">
		{% csrf_token %}
		<h3><button type="submit"><span class="glyphicon glyphicon-envelope"></span> Send URL to recipients</button></h3>
	</form>
	<a href="/">Back to albums</a>
</div>
{% endblock container %}
