{% extends 'base.html' %}
{% block container %}
<div class="starter-template">
	<div class="row">
		<div class="col-lg-6">
			<form method="POST" action="" enctype="multipart/form-data" >
				{% csrf_token %}
				{% if form.errors %}
				<p class="bg-danger">{{ form.errors.src_orig.0 }}</p>
				{% endif %}
				<input type="file" name="src_orig" multiple>
				<br />
				<button type="submit" class="btn btn-primary pull-left">Upload</button>
			</form>
		</div>	
	</div>
</div>
{% endblock container %}
